In [2]:
import sqlite3
import pandas as pd

In [61]:
csv_file = '../data/data_by_report.csv'
df = pd.read_csv(csv_file)

In [43]:
conn = sqlite3.connect('financial_reports.db')
cursor = conn.cursor()

In [25]:
import sqlite3

# Connect to your SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('financial_reports.db')

# Create a cursor object
cursor = conn.cursor()

# Define the SQL statement to create the table with a primary key
create_table_sql = """
CREATE TABLE pdfs (
    file_name TEXT PRIMARY KEY,
    date TEXT,
    title TEXT,
    bank TEXT,
    text TEXT,
    clean_text TEXT,
    tokens TEXT
);
"""

# Execute the SQL statement to create the table
cursor.execute(create_table_sql)

# Commit the changes to the database
conn.commit()

# Close the cursor and the database connection
cursor.close()
conn.close()

In [65]:
query = "SELECT * FROM pdfs"
    
    # Read data from the database into a DataFrame
df = pd.read_sql(query, conn)

In [71]:
df.head()

,file_name,date,title,bank,text,clean_text,tokens
0,01 01 2023_Goldman Sachs_Caution Heavy Fog,01 01 2023,Caution Heavy Fog,Goldman Sachs,Outlook Caution: Heavy Fog Investment Strategy...,caution heavi fog invest strategi januari weal...,"['caution', 'heavy', 'fog', 'investment', 'str..."
1,01 07 2022_Unicredit_Economics chartbook Q2,01 07 2022,Economics chartbook Q2,Unicredit,3Q 2022 Editor: Chiara Silvestr...,editor chiara silvestr economist unicredit mil...,"['editor', 'chiara', 'silvestre', 'economist',..."
2,01 11 2022_bnp_parisbas global view 2023,01 11 2022,parisbas global view 2023,bnp,TABLE OF CONTENTS Letter to investors 4 Execut...,tabl content letter investor execut summari ma...,"['table', 'contents', 'letter', 'investors', '..."
3,01 12 2020_UBS_alternative-investments-improvi...,01 12 2020,alternative-investments-improving-portfolio-pe...,UBS,7 Still we can compare the total size of the a...,compar total size altern marketplac ad base ma...,"['compare', 'total', 'size', 'alternative', 'm..."
4,01 12 2022_Goldman Sachs_global view 2023,01 12 2022,global view 2023,Goldman Sachs,1 Goldman Sachs Asset Management Strategic Adv...,asset manag strateg advisori solut market puls...,"['asset', 'management', 'strategic', 'advisory..."

In [59]:
conn.close()

In [6]:
conn = sqlite3.connect('financial_reports.db') 
cursor = conn.cursor()
report_name_to_delete = '08 07 2022_Erste_Week Ahead'
delete_query = f"DELETE FROM pdfs WHERE file_name = ?"
cursor.execute(delete_query, (report_name_to_delete,))
conn.commit()
conn.close()

In [21]:
conn = sqlite3.connect('financial_reports.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_names = cursor.fetchall()
conn.close()
for table in table_names:
    print(table[0])

pdfs

In [27]:
conn = sqlite3.connect('financial_reports.db')
cursor = conn.cursor()
table_name_to_delete = 'reports'
cursor.execute(f"DROP TABLE IF EXISTS {table_name_to_delete};")
conn.commit()
conn.close()

In [28]:
conn = sqlite3.connect('financial_reports.db')
cursor = conn.cursor()
table_name = 'pdfs'
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

primary_key_columns = []
for column in columns:
    if column[5] == 1:  
        primary_key_columns.append(column[1]) 

cursor.close()
conn.close()
if primary_key_columns:
    print(f"The primary key column(s) of {table_name} is/are: {', '.join(primary_key_columns)}")
else:
    print(f"{table_name} does not have a primary key.")

The primary key column(s) of pdfs is/are: file_name